---
---

<div id="container">
	<main>
		<section id="hero">
			<h1>Masa</h1>
			<p>Your current time: <span id="local" class="datetime"></span></p>
			<p>UTC: <span id="utc" class="datetime"></span></p>
			<h3><a href="https://en.wikipedia.org/wiki/Central_European_Time" rel="noreferrer">Central Europe Time (CET)</a></h3>
			<dl>
				<dt>Central Europe Time (CET)</dt><dd>UTC+1, no daylight saving.</dd>
				<dt>Central European Summer Time (CEST)</dt><dd>UTC+2, last Sunday in MAR - last Sunday in OCT.</dd>
			</dl>
			<h3><a href="https://en.wikipedia.org/wiki/Pacific_Time_Zone" rel="noreferrer">Pacific Time (PT)</a></h3>
			<dl>
				<dt>Pacific Standard Time (PST)</dt><dd>UTC-8, no daylight saving.</dd>
				<dt>Pacific Daylight Time (PDT)</dt><dd>UTC-7, mid MAR - early NOV.</dd>
			</dl>
		</section>
	</main>
	<script>
		const updateTime = () => {
			const now = new Date();
			const local = document.getElementById('local');
			if (local) {
				local.textContent = now.toString();
			}
			const utc = document.getElementById('utc');
			if (utc) {
				utc.textContent = now.toUTCString();
			}
		};
		setInterval(updateTime, 1000);
  </script>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	.datetime {
		font-weight: bold;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}
	}
</style>
