---
const faviconPath = import.meta.env.FAVICON_PATH;
---

<div id="container" class="font-sans h-full flex flex-col md:block">
	<main class="h-full flex justify-center">
		<section id="hero" class="flex items-start flex-col justify-center p-4">
			<h1 class="flex items-center mb-8 text-4xl font-bold">
				<img src={faviconPath} alt="" class="h-8 w-auto mr-2 -mb-0.5" />Masa
			</h1>
			<p class="mb-6">UTC time: <span id="utc-time" class="italic" aria-live="polite"></span></p>
			<p class="mb-6">
				Your time zone is <span id="local-timezone" class="font-bold"></span>: <span id="local-time" class="italic" aria-live="polite"></span>
			</p>
			<dl class="flex max-w-[1050px] gap-2.5 flex-wrap">
				<div class="bg-white dark:bg-gray-700 max-w-[350px] p-4 rounded-lg shadow-md dark:shadow-white/10">
					<dt class="font-bold">
						<a href="https://en.wikipedia.org/wiki/Pacific_Time_Zone" rel="noreferrer">PT</a>
					</dt>
					<dd class="mt-2.5 ml-0">
						<strong>Pacific Time</strong> or Pacific Standard Time (PST) is UTC-8. With daylight saving from mid MAR to early NOV, it is Pacific Daylight Time (PDT, UTC-7).
					</dd>
				</div>
				<div class="bg-white dark:bg-gray-700 max-w-[350px] p-4 rounded-lg shadow-md dark:shadow-white/10">
					<dt class="font-bold">
						<a href="https://en.wikipedia.org/wiki/Central_European_Time" rel="noreferrer">CET</a>
					</dt>
					<dd class="mt-2.5 ml-0">
						<strong>Central Europe Time</strong> is UTC+1. With daylight saving from last Sunday in MAR to last Sunday in OCT, it is Central European Summer Time (CEST, UTC+2).
					</dd>
				</div>
			</dl>
		</section>
	</main>
	<script>
		import { getTimeZoneAbbreviation } from "../scripts/get-time-zone-abbreviation";
		import { updateTime } from "../scripts/update-time";

		setInterval(updateTime('local-time', 'utc-time'), 1000);
		document.addEventListener("DOMContentLoaded", () => {
			const timeZoneElement = document.getElementById("local-timezone");
			if (timeZoneElement) {
				timeZoneElement.textContent = getTimeZoneAbbreviation(new Date());
			}
		});
	</script>
</div>
