---
---

<div id="container">
	<main>
		<section id="hero">
			<h1><img src="../../public/favicon.svg" class="favicon"/>Masa</h1>
			<p>Your current time: <span id="local-time" class="datetime"></span></p>
			<p>UTC: <span id="utc-time" class="datetime"></span></p>
			<dl class="timezones">
				<div class="timezone">
					<dt>
						<a href="https://en.wikipedia.org/wiki/Pacific_Time_Zone" rel="noreferrer">PT</a>
					</dt>
					<dd>
						<strong>Pacific Time</strong> or Pacific Standard Time (PST) is UTC-8. With daylight saving from mid MAR to early NOV, it is Pacific Daylight Time (PDT, UTC-7).
					</dd>
				</div>
				<div class="timezone">
					<dt>
						<a href="https://en.wikipedia.org/wiki/Central_European_Time" rel="noreferrer">CET</a>
					</dt>
					<dd>
						<strong>Central Europe Time</strong> is UTC+1. With daylight saving from last Sunday in MAR to last Sunday in OCT, it is Central European Summer Time (CEST, UTC+2).
					</dd>
				</div>
			</dl>
		</section>
	</main>
	<script>
		import { updateTime } from "../scripts/update-time";
		setInterval(updateTime('local-time', 'utc-time'), 1000);
	</script>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	.favicon {
		height: 1em;
		width: auto;
		margin-right: 0.1em;
		margin-bottom: -0.1em;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	.datetime {
		font-weight: bold;
	}

	.timezones {
		display: flex;
		max-width: 1050px;
		gap: 10px;
		flex-wrap: wrap;

		.timezone {
			background-color: white;
			max-width: 350px;
			padding: 16px;
			border-radius: 8px;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

			dt {
				font-weight: 700;
			}

			dd {
				margin: 10px 0 0;
			}
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}
	}
</style>
