---
const now = new Date();
const nowString = now.toString();
const nowUtc = now.toUTCString();
---

<div id="container">
	<main>
		<section id="hero">
			<h1>
				Masa
			</h1>
			<p>Your current time: {nowString}</p>
			<p>In UTC: {nowUtc}</p>
			<p>PST (without daylight saving, NOV - MAR) is UTC-8.</p>
			<p>PDT (with daylight saving MAR - NOV) is UTC-7.</p>
		</section>
	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
